@font-face {
  font-family: "headings";
  src:
    url("fonts/UpperEastSide.woff2") format("woff2"),
    url("fonts/UpperEastSide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "paragraphs";
  src:
    url("fonts/D-DINExp.woff2") format("woff2"),
    url("fonts/D-DIN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "headings";
}

h2 {
  font-family: "headings";
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "paragraphs";
}