body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 75px;
    padding: 0 15%;

}

/* .hd-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    padding: 0;
    gap: 24px;
}

li {
    list-style: none;
    color: #f9faf8;
    font-size: 18px;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    background-color: #1f2937;
    min-height: 400px;
    padding: 0 15%;
    gap: 80px;
}

.he-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: auto;
}

.he-c-title {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.he-c-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.he-c-butt {
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    max-width: 150px;
    padding: 10px;
}

.he-c-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img {
    border-radius: 5px;
    max-width: 500px;
}



/* info */
.info {
    display: flex;
    justify-content: center;
    border: 2px solid #1f2937;
    background-color: white;
    min-height: 400px;
    padding: 40px 15%;
}

.in-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/* quote */
.quote {
    display: flex;
    justify-content: center;
    border: 2px solid #1f2937;
    background-color: #e5e7eb;
    min-height: 400px;
    padding: 0 15%;
}

/* cta */
.cta {
    display: flex;
    justify-content: center;
    border: 2px solid #1f2937;
    background-color: white;
    min-height: 400px;
    padding: 0 15%;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 75px;
    padding: 0 15%;
}